@{
    ViewBag.Title = "AdminSidan";
}

<h2>AdminSidan</h2>


@Html.ActionLink("Lägg till produkt", "AdderaProdukt")
<br />
@Html.ActionLink("Ta bort produkt", "TaBortProdukt")
<br />
@Html.ActionLink("Orders", "Orders", "Admin")
<br />
@Html.ActionLink("Tillbaka", "Index","Product")
