<div class="jumbotron" style="margin-top:30px;">
  <h2>Info!</h2>
  <p>Info om företaget, support, klagomål, önskemål, blablalbla</p>
  <p><a class="btn btn-primary btn-lg" role="button">Email</a></p>
</div>