@{
    Layout = null;
}
@using SWEprotein.Models



<link href="~/Content/OverrideBStrap.css" rel="stylesheet" />
 
 

<div class="row">
 <div class="col-md-12" style="padding-left:13px; padding-right:5px; margin-top:10px;">
            <div class="thumbnail" style="height:180px; width:166px; background-color:black;">
  
               <a href="/Product/Topplistan"> <p class="text-center h4" style="margin:0px;">TOPPLISTAN</p></a>
                <hr/>
                <ol style="padding-left:20px;">
    @foreach (tbProduct prod in Model)
    {
        
            
           <li> @Html.ActionLink(@prod.sName, "Produkt", "Product", new { id = prod.iID})</li>
      @*  <p style="font-weight:bold">@prod.sName @prod.iPrice:-</p>*@
        
         
   
    }
                    </ol>
                   </div>
        </div>
</div>